body{
	background: url('../images/Martin-Garrix-NYE.jpg'); /*agregar imagen de fondo*/
	background-size: 100%;
	background-repeat:no-repeat;
}
#imgLogo{
	margin:0 10px;
	margin-top: 5px;
	height:30px; /*altura*/
	width: 30px; /*ancho*/
}
#menuUltra{
	font-size: 20px;
	color: black;
	font-family: 'Baloo 2', cursive;
}
#Index{
	color: black;
	font-family: 'Baloo 2', cursive;
}
#Index:hover{
	color: pink;
	font-family: 'Baloo 2', cursive;
}
#Ticket{
	color: black;
	font-family: 'Baloo 2', cursive;
}
#Ticket:hover{
	color: pink;
	font-family: 'Baloo 2', cursive;
}
#Lineup{
	color: black;
	font-family: 'Baloo 2', cursive;
}
#Lineup:hover{
	color: pink;
	font-family: 'Baloo 2', cursive;
}
#Galeria{
	color: black;
	font-family: 'Baloo 2', cursive;
}
#Galeria:hover{
	color: pink;
	font-family: 'Baloo 2', cursive;
}
#Contact{
	color: black;
	font-family: 'Baloo 2', cursive;
}
#h1{
	color: white;
	font-family: 'Istok Web', sans-serif;
	font-size: 30px;
}
#contactoForm:focus{
	border-color: white !important;
	box-shadow: 0 0 5px rgba(19, 57, 19, 1) !important;
}
label{
	color: white;
	font-family: 'Baloo 2', cursive;
	font-size: 20px;
}
.form-control:focus { /* focus=enfoque*/ 
	border-color: white !important;
	box-shadow: 0 0 5px rgba(19, 57, 19, 1) !important;
}
#footer{
	width: 100%;
	height: 100px;
	background: white;
	position: absolute;
	bottom: 0;
}
.iconSocial{
	height: 35px;
	min-height: 30px; /*tamaño minimo*/
}
